body {
    background-color: rgb(64, 105, 119);
    text-align: center;
    font-family: Verdana;
    color: rgb(247, 234, 193);
}

h1 {
    color: rgb(247, 234, 193)e;
    text-align: center;
    font-family: Verdana;
    text-decoration: underline;
}

p {
    margin: 20px;
    padding: 20px;
}

#abbey {
    background-color: rgb(57, 75, 100);
}

.last {
    font-family: cursive;
}
